<div class="bg-gradient-to-r z-50 from-gray-600 to-gray-400 text-white border-b flex gap-5">
  <div class="p-3 mr-6 font-bold tracking-wide">Network Inventory</div>
  <div class="p-3 font-thin cursor-pointer" routerLink="networks" routerLinkActive="bg-gray-600">Networks</div>
  <div class="p-3 font-thin cursor-pointer" routerLink="light" routerLinkActive="bg-gray-600">Light</div>
  <div class="p-3 font-thin cursor-pointer" routerLink="account" routerLinkActive="bg-gray-600">Account</div>
</div>
