<div class="flex flex-col gap-3 bg-gray-800 h-full">
  <div class="m-3 border rounded p-3 flex flex-col gap-3">
    <div class="text-white">Control Panel</div>
    <div class="flex flex-col gap-3">
      <input class="bg-gray-700 rounded border py-3 px-1.5 text-white" [(ngModel)]="light.name" placeholder="Light Name ..."/>
      <input class="bg-gray-700 rounded border py-3 px-1.5 text-white" [(ngModel)]="light.color" placeholder="Light Color ..."/>
      <button class="bg-gray-500 text-white rounded shadow p-3" (click)="lightService.addLight(light)">Ajouter</button>
    </div>
  </div>
  <div class="flex flex-col gap-3 border m-3 p-3 rounded">
    <div class="text-white pb-3">Light Panel</div>
    <div class="flex gap-3">
      <div *ngFor="let light of lightService.getAllLight()">
        <app-light [light]="light" (trigger)="handleTrigger(light.id)" (toggled)="switchLight(light)"></app-light>
      </div>
    </div>
  </div>
</div>
