<div class="mt-10 flex flex-col gap-3 h-full w-full -z-50 text-white">
  <p-table [value]="devicesService.getAllDevices()" class="w-11/12 mx-auto pt-2 pb-8 px-5 rounded bg-gray-500 border border-gray-300" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr class="font-extrabold">
        <th>Name</th>
        <th>Type</th>
        <th>Network</th>
        <th>IP address</th>
        <th>Brand</th>
        <th>Ports</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-device>
      <tr class="text-center font-extralight">
        <td>{{ device.name }}</td>
        <td>{{ device.type }}</td>
        <td>{{ device.network }}</td>
        <td>{{ device.ip }}</td>
        <td>{{ device.brand }}</td>
        <td>{{ device.ports }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
