<div class="flex flex-col gap-3 bg-gray-800 h-full w-full -z-50">
  <div class="m-3 border rounded p-3 flex flex-col gap-3">
    <div class="text-white">Control Panel</div>
    <div class="flex flex-col gap-3">
     <!-- <input class="border py-3 px-1.5" [(ngModel)]="network.name" placeholder="Network Name ..."/>
      <input class="border py-3 px-1.5" [(ngModel)]="network.location" placeholder="Network Location ..."/>
    <button class="bg-blue-600 text-white rounded shadow p-3" (click)="networkService.addNetwork(network)">Ajouter</button>
    --></div>
  </div>
</div>
